<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buttons">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.PREVENT_POWER_KEY" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:allowBackup="true"
      android:theme="@style/AppTheme">

      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize"
        android:autoRemoveFromRecents="false">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

      <service android:name=".services.call.CallService" />
      <receiver android:name=".services.call.CallReceiver">
        <intent-filter >
            <action android:name="android.intent.action.PHONE_STATE" />
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            <action android:name="android.intent.action.MEDIA_BUTTON" />
            <action android:name="android.intent.action.SCREEN_OFF" />
            <action android:name="android.intent.action.SCREEN_ON" />
            <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            <action android:name="android.media.VOLUME_CHANGED_ACTION" />
            <action android:name="android.media.RINGER_MODE_CHANGED" />
            <action android:name="android.intent.category.DEFAULT" />
        </intent-filter>
      </receiver>
    </application>

</manifest>
